# Customize to your needs...
export PATH=$PATH:/home/felix/.rvm/gems/ruby-1.9.3-p448/bin:/home/felix/.rvm/gems/ruby-1.9.3-p448@global/bin:/home/felix/.rvm/rubies/ruby-1.9.3-p448/bin:/home/felix/.rvm/bin:/usr/lib/lightdm/lightdm:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games
